<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegionCoffersAnylizerWinForm.Properties.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RegionCoffersAnylizerWinForm.Properties.app>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>nalogi</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>schef2002</value>
            </setting>
            <setting name="coffersTable" serializeAs="String">
                <value>year_2024</value>
            </setting>
        </RegionCoffersAnylizerWinForm.Properties.app>
    </applicationSettings>
</configuration>